* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

#navbar {
    background-color: rgb(32, 32, 43);
    padding: 12px 22px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#navbar a {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(128, 138, 159);
    border-radius: 4px;
}

#navbar a:hover {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 4px;
    transition: .5s;
    
}

#navbar a:active {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(189, 196, 202);
    border-radius: 4px;
}


h1 {
    display: flex;
    font-size:80px;
    font-family: 'Times New Roman', Times, serif ;
    margin: 50px;
    padding: 3px 30px;
    background-color: rgb(192, 218, 255);
    font-size: 30px;
    border-radius: 10px;
}

#section1 {
    margin: 50px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background-image: url("../images/lights.jpg");
    color: white;
    background-size: cover;
    font-size: 28px;
     
}
h2 {
    text-align: center;
    
}


@media screen and (max-width: 480px) {
    #navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 18px;
        align-items: center;


    }
}