* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#navbar {
    background: linear-gradient(to bottom, #000000, #170000);
    padding: 12px 22px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#navbar a {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: #170000;
    text-decoration: none;
    background-color: #887177;
    border-radius: 4px;
    font-size: 12px;
}

#navbar a:hover {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: #cf9eac;
    border-radius: 4px;
    transition: .5s;
    
}

#navbar a:active {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(189, 196, 202);
    border-radius: 4px;
}

div {
    background-color: aliceblue;

}

h1 {
    display: flex;
    font-size:80px;
    font-family: 'Times New Roman', Times, serif ;
    margin: 50px;
    padding: 3px 30px;
    background-color: #cf9eac99;
    box-shadow: -4px 4px 8px #17000099;
    font-size: 30px;
    border-radius: 2px;
    justify-content: center;
}

#section1 {
    margin: 50px;
    padding: 20px;
    border-radius: 2px;;
    text-align: center;
    font-weight: bold;
    background-image: url("../images/tree.jpg");
    box-shadow: -4px 4px 12px #17000099;
    color: black;
    background-size: cover;
    font-size: 20px;
     
}
h2 {
    text-align: center;
    
}


@media screen and (max-width: 480px) {
    #navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 8px;
        align-items: center;


    }

    .pagecontent {
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-size: 16px;
    }
}