* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#navbar {
    background: linear-gradient(to bottom, #000000, #170000);
    padding: 12px 22px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#navbar a {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: #170000;
    text-decoration: none;
    background-color: #887177;
    border-radius: 4px;
    font-size: 12px;
}

#navbar a:hover {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: #cf9eac;
    border-radius: 4px;
    transition: .5s;
    
}

#navbar a:active {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(189, 196, 202);
    border-radius: 4px;
}
@media screen and (max-width: 480px) {
    #navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 18px;
        align-items: center;


    }
}

/* gallery */

.section1 {
    display: flex;
    align-items: center;
    background-image: url("../images/liam.jpg");
    filter: grayscale(100%);
    background-size: cover;
    padding: 76px;
    background-position: center 25%;
    position: relative;
    z-index: 1;
    justify-content: center;
 
}
.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 76px;
    background: url("../images/brush.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#photography a {
    text-decoration: none;
    color: black;

}

#graphicdesign a {
    text-decoration: none;
    color: white;
    
}

#backdrop {
    background-color: #887177;
    width: 76%;
    height: 76%;
    position: absolute;
    z-index: -1;
    box-shadow: -4px -4px 4px black;
    backdrop-filter: blur(200px);
    opacity: .7;
}

#backdrop2 {
    background-color: rgb(242, 239, 244);
    width: 76%;
    height: 76%;
    position: absolute;
    z-index: -1;
    box-shadow: -4px -4px 4px black;
    backdrop-filter: blur(200px);
    opacity: 0.5;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    padding: 0px;
}

#graphicdesign {
    width: 70%;
    height: 70%;

}

h1 {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    #navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 8px;
        align-items: center;


    }
    .layout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}