* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

#navbar {
    background-color: rgb(32, 32, 43);
    padding: 12px 22px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#navbar a {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(128, 138, 159);
    border-radius: 4px;
}

#navbar a:hover {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 4px;
    transition: .5s;
    
}

#navbar a:active {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(189, 196, 202);
    border-radius: 4px;
}
.about-me {
    background-image: url("../images/bluestars.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
}

.about-me a {
    background-color: rgb(51, 80, 121) ;
    color: white;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    margin: 50% 30px 60px 0px;
    font-weight: lighter;
    text-decoration: none;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    font-size:80px;
    font-family: 'Times New Roman', Times, serif ;
    margin: 25px;
    padding: 25px;
    background-color: rgb(128, 138, 159);
    font-size: 30px;
    border-radius: 10px;
    justify-content: center;
}
h2 {
    align-items: center;
    display: flex;
    padding-left: 400px
}

#featured {
    columns: 3 auto;
    padding: 12px;
}

img {
    width: 100%;
    margin-bottom: 12px;

}

@media screen and (max-width: 480px) {
    #navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 18px;
        align-items: center;
    }

    .header2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}