* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#navbar {
    background: linear-gradient(to bottom, #000000, #170000);
    padding: 12px 22px;
    justify-content: center;
    gap: 40px;
    display: flex;
    flex-direction: row;
}

#navbar a {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: #170000;
    text-decoration: none;
    background-color: #887177;
    border-radius: 4px;
    font-size: 12px;
}

#navbar a:hover {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: #cf9eac;
    border-radius: 4px;
    transition: .5s;
    
}

#navbar a:active {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(189, 196, 202);
    border-radius: 4px;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    font-size:80px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin: 25px;
    padding: 25px;
    background-color: #cf9eac99;
    box-shadow: -4px -4px 4px #17000099;
    font-size: 30px;
    border-radius: 10px;
    justify-content: center;
}

#featured {
    columns: 3 auto;
    padding: 12px;
    margin: 20px;
}

img {
    width: 100%;
    margin-bottom: 12px;
    box-shadow: -4px 4px 8px #170000

}

.button {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: #170000;
    text-decoration: none;
    background-color: #887177;
    border-radius: 4px;
    font-size: 12px;
    
}

.button:hover {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: #cf9eac;
    border-radius: 4px;
    transition: .5s;
    
}

.button:active {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(189, 196, 202);
    border-radius: 4px;
}

.button h3 {
    margin: 0px;
}
.header2 {
    display: flex;
    margin: 12px;
    gap: 100px;
    align-items: center;
}

ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    #navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 8px;
        align-items: center;


    }

    .header2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #featured {
        margin: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h2 {
        margin: 20px;
        background-color: #cf9eac;
        padding: 8px;
        border-radius: 8px;
    }

    h1 {
        display: flex;
        font-size: 20px;
    }
}