* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

#navbar {
    background-color: rgb(32, 32, 43);
    padding: 12px 22px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#navbar a {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(128, 138, 159);
    border-radius: 4px;
}

#navbar a:hover {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 4px;
    transition: .5s;
    
}

#navbar a:active {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(189, 196, 202);
    border-radius: 4px;
}

@media screen and (max-width: 480px) {
    #navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 18px;
        align-items: center;


    }
}

/* gallery */

.section1 {
    background-image: url("../images/Liam_Lexa_Christmas_Minis\ \(15\ of\ 21\).jpg");
    background-size: cover;
    padding: 76px;
    background-position: center 25%;
 
}
.section2 {
    padding: 76px;
    background-size: cover;
    background-position: right 15%;
    background: linear-gradient(to top, #ffffff55, #00000055), url("../images/graphic.jpg");
}

#photography a {
    text-decoration: none;
    color: black;

}

#graphicdesign a {
    text-decoration: none;
    color: white;
    
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}

ul li {

}

