* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#navbar {
    background: linear-gradient(to bottom, #000000, #170000);
    padding: 12px 22px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#navbar a {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: #170000;
    text-decoration: none;
    background-color: #887177;
    border-radius: 4px;
    font-size: 12px;
}

#navbar a:hover {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: #cf9eac;
    border-radius: 4px;
    transition: .5s;
    
}

#navbar a:active {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(189, 196, 202);
    border-radius: 4px;
}

div {
    background-color: #887177;
}
h1 {
    display: flex;
    justify-content: center;
}
.images {
    columns: 3 auto;
    padding: 12px;
}
    
img {
    width: 100%;
    margin-bottom: 12px;
    box-shadow: -4px 2px 2px #17000099;
    border-radius: 2px;
}

.section1 {
    display: flex;
    justify-content: center;
}