* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#navbar {
    background: linear-gradient(to bottom, #000000, #170000);
    padding: 12px 22px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#navbar a {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: #170000;
    text-decoration: none;
    background-color: #887177;
    border-radius: 4px;
    font-size: 12px;
}

#navbar a:hover {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: #cf9eac;
    border-radius: 4px;
    transition: .5s;
    
}

#navbar a:active {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    color: rgb(18, 34, 63);
    text-decoration: none;
    background-color: rgb(189, 196, 202);
    border-radius: 4px;
}

.layout {
    width: 90vw;
    max-width: 1400px;
    margin: 0px auto;
}

.page {
    background-image: url(../images/snows.jpg);
    background-position: center center;
    background-repeat: no-repeat;  
}

.hero {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-start;
    background-repeat: no-repeat;
    flex-direction: column;
    
}

.hero a {
    background-color:#88717799;
    color: black;
    border-radius: 20px;
    padding: 8px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    box-shadow: #170000 -2px 2px 3px;
    display: inline-block;
    margin: 12px;
    
}

.hero a:hover {
    background-color:#cf9eac99;
    color: black;
    border-radius: 20px;
    padding: 8px;
    font-weight: lighter;
    text-decoration: none;
    justify-content: center;
    display: flex;
    box-shadow: #170000 -2px 2px 3px;
    
}

.hero a:active {
    background-color:aliceblue;
    color: black;
    border-radius: 20px;
    padding: 8px;
    font-weight: lighter;
    text-decoration: none;
    justify-content: center;
    display: flex;
    box-shadow: #170000 -2px 2px 3px;
    
}


h3 {
    margin: 12px 12px;
    font-size: 18px;
    font-weight: lighter;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    
}

ul {
    font-size: 12px;
    
}
@media screen and (max-width: 480px) {
    #navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 8px;
        align-items: center;


    }

    #topcorner {
        background-color: rgb(242, 239, 244);
        backdrop-filter: blur(200px);
        opacity: 0.7;
        height: 150px;
        width: 100%;
    }
    
    .layout.alternative {
        margin: 0px;
        width: 100vw;

    }

    .hero a {
        background-color:#88717799;
        color: black;
        border-radius: 20px;
        padding: 8px;
        font-weight: lighter;
        text-decoration: none;
        box-shadow: #170000 -2px 2px 3px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}