/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.card-style-3 {
    background-color: yellow;
    margin: 24px;
    width: 350px;
    height: auto;
    border-radius: 9px;
    border: 17px solid gold;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-style-3 img {
    width: 300px;
    height: auto;
    border: solid 5px goldenrod;
}

.health {
    margin-left: 76%;
    margin-top: -15%;
}
.details {
    background-color: goldenrod;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}

.description {
    text-align: center;
    font-size: 15px;
    font-weight: light;

}
.attack {
    display: flex;
    padding: 18px;
    flex: 1;
    justify-content: space-between;
    align-items: center;

}

.bold {
    font-weight: bold;
    font-size: larger;
    
}

.power {
    font-size: x-large;
    font-weight: bold;
}

.data {
    margin: 12px 18px;
    padding: 2px 8px;
    font-size: 12px;
    border: solid goldenrod;
}

.pokemon-header {
    margin: 2px 0px;
    padding-bottom: 4px
}

.energy, .power {
    display: flex;
    padding: 30px 0px;
    justify-content: space-around;
}
/* BULBASAUR CARD */

#pokemon-card-1 .data {
margin-top: 40px;
}

#pokemon-card-1 .attack {
    margin: 10px 0px;
}

/* Nidoran card*/
#pokemon-card-2 .data {
    margin-top:  64px;
}

#pokemon-card-2 .attack {
    margin: 10px 0px;
}

/* CHARMANDER CARD*/
#pokemon-card-3 {}