* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ts1989-container {
    background-color: lightblue;
}

#ts1989 img, #ts1989 div {
    display: inline-block;
}

#ts1989 div {
    width: 75%;
}
.speaknow-container {
    margin-left: auto;
    margin-right: auto;
    width: 100;
    padding: 0px 0px;
}

.red-container {
    margin-right: auto;
    padding: 48px 0px;
    background-color: saddlebrown;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.ts1989-container img,
.red-container img,
.speaknow-container img {
    width: 20%;
    display: inline-block;
}

#ts1989 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 80%;
}

#ts1989 h6{
    margin: 50px 50px;
    
}

.speaknow-container {
    background-color: plum;
}

#speaknow {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#speaknow h6 {
    padding: 10px;
    margin-top: 50px;
}

#speaknow div {
    width: 70%;
    display: inline-block;
}
#red {
    margin-left: 300px;
    margin-bottom: 50px;
    padding: 60px;
    padding-top:90px;   
}
.red-container img {
    margin: 60px;
    margin-left: 50px;
    margin-bottom: 100px;
}