/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/ 
#content h1 {
    margin: 8px 0px;
}
#left-side h4 {
    margin: 3px 0px;
    background-color: navy;
    color: white;
    padding: 3px;
    text-align: center;
}

#license {
    padding-left: 20px;
    padding-bottom: 10px;
    border: 2px solid black;
    color: navy;
    width: 500px;
    background: linear-gradient(
    to bottom right,
    rgb(253, 204, 115), 
    rgb(237, 140, 79)
)}

#address {
    color: black;
    margin-bottom: 10px;

}
#small-pic, 
#data-fields {
    display: inline-block;
}
#right-side,
#left-side {
    display: inline-block;
}
#id-and-expiration div {
    display: inline-block;
    color: navy;
    margin-bottom: 10px;
}
#id-and-expiration 
span {
    color: red;
    margin-right: 10px;
}
#data-left, 
#data-right {
    display: inline-block;
    
}
#signature {
    text-align: center;
    font-family: cursive;
    color: black;
}
#donor,
#real-id {
    display: inline-block;
}
#small-pic img {
    width: 65px; 
    opacity: 0.5;
}

#right-side img {
    width: 155px;
}
#data-right span, 
#data-left span {
    color: red;
    padding: 5px;
}
#donor-and-real-id {
    text-align: center;
}
#donor-and-real-id 
#donor {
    color: red;
}
#real-id {
    color: yellow;
}
