* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#header {
    /*
        Below is how you can make your navbar follow you as
        you scroll the page.
    */
    position: sticky;
    top: 0px;
}
/* navbar styles */

#navbar {
    background: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*
        Below is how you can make your navbar follow you as
        you scroll the page.
    */
    position: sticky;
    top: 0px;
}
#navbar a {
    text-decoration: none;
    color: white;
    padding:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#navbar-middle {
    background-color: rgb(203, 109, 81);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-middle a {
    color: white;
    text-decoration: none;
    padding: 12px;
    justify-content: space-between;
}
#navbar-middle .cta-button {
    background-color: black;
    color: orangered;
    border-radius: 24px;
    text-decoration: none;
    padding: 10px 24px;
    font-size: 17px;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bottom {
    background: linear-gradient(to bottom, black, rgb(99, 62, 62));
    display: flex;
}

#bottom a {
    text-decoration: none;
    color: darkorange;
    padding: 12px 24px;
    justify-content: space-between;
    font-weight: lighter;
}