/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-1 {
   width: 350px;
   margin: 24px;
   background-color: rgb(226, 238, 229)
}
.card-style-1 img {
    width: 100%;
}

.card-style-1 p {
    margin: 24px;
}

.card-style h2 {
    text-align: center;
}

.card-style-1 a:hover {
    background-color: transparent;
    color: green;
}

.card-style-1 a {
    display: block;
    background-color: green;
    color: white;
    text-decoration: none;
    font-size: 21px;
    padding: 21px;
    text-align: center;
    border: 2px solid green;
    transition:
        background-color 0.5s,
        color 0.5s;
}