* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/pexels-ylanite-koppens-1693654.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-1 h4 {
    font-size: 40px;
    padding-left: 70px;
    padding-bottom: 50%;
    color: darkred;
}

#hero-1 div {
    background-color: red;
    margin: 0px 50px;
    display: inline-block;
    padding: 24px;
    justify-content: left;
}

#hero-2 {
    background-image: url("../images/pexels-pixabay-66917.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#hero-2 h2 {
    font-size: 50px;
    margin: 12px auto;
    color: antiquewhite;
}

#hero-2 h4 {
    font-size: 10px;
    color: antiquewhite;
    margin: 0px 32px;
    padding: 24px;
    display: flex;
}

#hero-2 a {
    font-size: 20px;
    border-radius: 12px;;
    display: inline-block;
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    padding: 12px;
    margin: 5px 5px 10px 0px;
}

#hero-3 {
    background-image: url("../images/pexels-andrea-piacquadio-716658.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero-3 .hero-content {
color: black;
margin: 10px 10px 10px 10px;
padding: 6px;
}

#hero-3 h2 {
   font-size: 48px;
}

#hero-3 h4 {
    font-size: 24px;
    margin: 0px 15px 0px 10px;
    color: black;
    font-style: italic;
}

#hero-3 a, #hero-1 a {
    font-size: 24px;
    display: inline-block;
    background-color: brown;
    color: white;
    text-decoration: none;
    padding: 14px 48px;
    margin: 50px 80px;
    border-radius: 3px;
}